<div class="container">

    <h2>File details</h2>

    <p>
        Here you can see the details of a specific file. All information is displayed on one page and you can also
        see all versions of the current file.
    </p>

    <div class="row">
        <div class="col-md-6">
            <form class="form-horizontal">
                <div class="pull-right" style="margin-bottom:12px;">

                    <a ng-href="/file/{{selectedFileVersion.name | encodeUri }}/{{selectedFileVersion.version | encodeUri}}"
                       target="_blank" class="btn btn-success" ng-disabled="selectedFileVersion.marked">download
                        version</a>
                    <a ng-href="#/files/upload" class="btn btn-warning">upload new version</a>
                    <button class="btn btn-danger" ng-click="deleteFile(selectedFileVersion)">delete version</button>

                </div>
                <h3>File data </h3>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Filename</label>

                    <div class="col-sm-9">
                        <p class="form-control-static">{{selectedFileVersion.name}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Upload-date</label>

                    <div class="col-sm-9">
                        <p class="form-control-static">{{selectedFileVersion.creationDate|date:'dd.MM.yyyy HH:mm'}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Raid Level</label>

                    <div class="col-sm-9">
                        <p class="form-control-static">{{selectedFileVersion.raidLevel}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Version-number</label>

                    <div class="col-sm-9">
                        <p class="form-control-static">{{selectedFileVersion.version}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Checksum</label>

                    <div class="col-sm-9">
                        <p class="form-control-static">{{selectedFileVersion.checksum}}</p>
                    </div>
                </div>

                <h3>Fileparts</h3>

                <div class="well" ng-repeat="filePart in selectedFileVersion.fileParts | orderBy: 'order'">
                    <p><strong>{{filePart.storageProviderId}}</strong></p>

                    <p ng-if="selectedFileVersion.raidLevel != 'Level1'">Checksum: {{filePart.checksum}}</p>

                    <p ng-if="selectedFileVersion.raidLevel != 'Level1'">Order: {{filePart.order}}</p>
                    <span class="label label-info" ng-if="filePart.parity">parity</span>
                </div>

            </form>
        </div>

        <div class="col-md-6">
            <h3>Fileversions</h3>

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Version</th>
                        <th>Upload-date</th>
                        <th>Operation</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="fileversion in fileversions | orderBy:'version'"
                        ng-click="setSelectedFileVersion(fileversion)"
                        ng-class="{'success':selectedFileVersion==fileversion}" class="clickable">

                    <th>{{fileversion.version}}</th>
                        <td>{{fileversion.creationDate|date:'dd.MM.yyyy HH:mm'}}</td>
                        <td>
                            <a ng-href="/file/{{fileversion.name | encodeUri }}/{{fileversion.version | encodeUri}}"
                               ng-disabled="fileversion.marked"
                               target="_blank" class="btn btn-success">
                                <span class="glyphicon glyphicon-download"></span>
                            </a>
                            <!--<button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>-->
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="alert alert-success" ng-show="successMessage">{{successMessage}}</div>
    <div class="alert alert-danger" ng-show="errorMessage">{{errorMessage}}</div>

</div>