<div class="container">

    <h2>File upload</h2>

    <p>You can upload new files here. You can choose between RAID1 and RAID5 mode which changes the way your file is
        being saved. If you want to know more about it you can find it here at
        <a href="http://en.wikipedia.org/wiki/RAID">Wikipedia</a>.
    </p>

    <p>
        Depending on the mode the server is currently
        running, files with the same name may get overwriten by the newer file; or a new version for the file is beeing
        created on the server.
    </p>

    <div class="row">
        <div class="col-md-push-2 col-md-9 col-md-pull-1">
            <h3>File data</h3>

            <form role="form" ng-submit="submitForm()">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="txtFilename">Filename</label>
                        <input type="text" class="form-control" id="txtFilename" ng-model="filename" required=""
                               placeholder="Filename ...">
                    </div>
                    <div class="form-group col-md-6">
                        <label>RAID-Level</label><br/>

                        <div class="btn-group">
                            <label class="btn btn-default" ng-model="raidLevel" btn-radio="'Level1'">
                                RAID Level 1
                            </label>
                            <label class="btn btn-default" ng-model="raidLevel" btn-radio="'Level5'">
                                RAID Level 5
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-md-12">
                            <label>Sourcefile</label>
                        </div>

                        <div class="col-md-6">
                            <div ng-file-drop ng-model="file" class="text-center"
                                 ng-file-change="fileChanged($files, $event)"
                                 style="height: 100px; border:1px dashed #000; padding:25px;">drop file here
                            </div>
                            <button class="btn btn-primary" type="button" style="margin-top:8px; width: 100%;"
                                    ng-file-select ng-file-change="fileChanged($files, $event)" ng-model="file">or
                                choose file
                            </button>
                        </div>
                        <div class="col-md-6">
                            <span ng-show="file && file.length == 1">
                                <p>selected file:</p>
                                <p>
                                    <strong>{{file[0].name}}</strong> <br/>({{file[0].size|filesize:2}})
                                    <button class="btn btn-danger btn-sm" ng-click="file = null">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </p>
                            </span>

                        </div>

                        <p class="col-md-12 help-block">Pick the file you want to upload.</p>

                    </div>

                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <div class="alert-collection">
                <div class="alert alert-success" ng-if="successMessage">
                    <span class="glyphicon glyphicon-check"></span> {{successMessage[0]}}
                    <span class="small" ng-if="successMessage.length > 1">
                        {{successMessage[1]}}
                        <!--The may still be in the upload queue, wait a few seconds until you request it again!-->
                    </span>
                </div>
                <div class="alert alert-info" ng-if="progress && progress > -1">
                    File is beeing uploaded. Please wait.<br/>
                    <progressbar class="progress-striped" value="progress" type="info"
                                 style="margin-bottom:8px; margin-top:8px;">{{progress|number:2}}%
                    </progressbar>
                </div>
                <div class="alert alert-danger" ng-if="errorMessage">
                    <span class="glyphicon glyphicon-remove"></span>
                    <strong>{{errorMessage[0]}}</strong>
                    <span class="small" ng-if="errorMessage.length > 1">
                        {{errorMessage[1]}}
                        <!--Error during upload. Error code ERR012345. For more details please contact Cloud Raid staff.-->
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>