<div class="container">

    <h2>Registered files ({{files.length}})</h2>

    <p>To filter please use search box in upper right navigation part. Searching is posible by simply clicking on
        the table header column by which you want to sort
    </p>


    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="clickable" ng-click="orderBy('name')">
                    Filename <span class="glyphicon glyphicon-sort-by-alphabet pull-right"
                                   ng-show="filter.order=='name'"></span>
                    <span class="glyphicon glyphicon-sort-by-alphabet-alt pull-right"
                          ng-show="filter.order=='-name'"></span>
                </th>
                <th class="clickable" ng-click="orderBy('creationDate')">Uploaded
                    <span class="glyphicon glyphicon-sort-by-attributes pull-right"
                          ng-show="filter.order=='creationDate'"></span>
                    <span class="glyphicon glyphicon-sort-by-attributes-alt pull-right"
                          ng-show="filter.order=='-creationDate'"></span>
                </th>
                <!--<th class="clickable" ng-click="orderBy('modifiedDate')">Modified
                    <span class="glyphicon glyphicon-sort-by-attributes pull-right"
                          ng-show="filter.order=='modifiedDate'"></span>
                    <span class="glyphicon glyphicon-sort-by-attributes-alt pull-right"
                          ng-show="filter.order=='-modifiedDate'"></span>
                </th>-->
                <th class="clickable" ng-click="orderBy('version')">latest Version
                    <span class="glyphicon glyphicon-sort-by-order pull-right" ng-show="filter.order=='version'"></span>
                    <span class="glyphicon glyphicon-sort-by-order-alt pull-right"
                          ng-show="filter.order=='-version'"></span>
                </th>
                <th class="clickable" ng-click="orderBy('raidLevel')">Raid Level
                    <span class="glyphicon glyphicon-sort-by-order pull-right"
                          ng-show="filter.order=='raidLevel'"></span>
                    <span class="glyphicon glyphicon-sort-by-order-alt pull-right"
                          ng-show="filter.order=='-raidLevel'"></span>
                </th>
                <th>Operations
                    <button class="btn btn-xs btn-primary pull-right" ng-click="reload()"><span
                            class="glyphicon glyphicon-refresh"></span></button>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="file in files | filter:filter.value | orderBy:filter.order | pagination:currentPage:10"
                ng-class="{'danger':file.marked}">

                <td>{{file.name}}</td>
                <td>{{file.creationDate|date:'dd.MM.yyyy HH:mm'}}</td>
                <!--<td>{{file.modifiedDate|date:'dd.MM.yyyy HH:mm'}}</td>-->
                <td>{{file.version}}</td>
                <td>
                    <span class="label label-info" ng-if="file.raidLevel == 'Level1'">RAID1</span>
                    <span class="label label-danger" ng-if="file.raidLevel == 'Level5'">RAID5</span></td>
                <td>
                    <a href="#/files/{{file.name|encodeUri}}" class="btn btn-default"><span
                            class="glyphicon glyphicon-list-alt"></span></a>
                    <a href="/file/{{file.name|encodeUri}}/{{file.version|encodeUri}}" ng-disabled="file.marked"
                       target="_blank" class="btn btn-success"><span class="glyphicon glyphicon-download"></span></a>
                    <button class="btn btn-danger" ng-click="deleteFile(file)"><span
                            class="glyphicon glyphicon-remove"></span></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <pagination direction-links="true" total-items="files.length" ng-model="currentPage" max-pages="10"
                    previous-text="&lsaquo;" next-text="&rsaquo;"></pagination>
    </div>

    <div class="alert alert-success" ng-show="successMessage">{{successMessage}}</div>
    <div class="alert alert-danger" ng-show="errorMessage">{{errorMessage}}</div>
</div>