<div class="container">
    <div class="jumbotron">
        <h1>Welcome to AIC Cloud Raid</h1>

        <h2>Our cloud storage raid solution for your fits!</h2>

        <p>
            Your watching for a slim and functional middleware cloud raid solution? <strong>You just found it!</strong>
            Please try our functions and get at least as excited as we are!
        </p>

        <p>Start here by browsing the current files. <a class="btn btn-success" href="#/files">Explore files</a></p>
    </div>
</div>