<div class="container">

    <h2>Server status</h2>

    <div class="row">
        <div class="col-md-6">
            <h3>Additional Information</h3>
        </div>
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Storage Providers</h3>
                </div>
                <div class="panel-body">

                    <div ng-repeat="(storageProvider, online) in storageProviderStates" class="alert"
                         ng-class="{'alert-success':online,'alert-danger':!online}">
                        <span class="glyphicon" ng-class="{'glyphicon-ok':online,'glyphicon-remove':!online}"></span>
                        <strong>{{storageProvider}}</strong>
                        <span ng-if="online">running</span>
                        <span ng-if="!online">error</span>
                    </div>
                    <!--
                                        <div class="alert alert-success"><span class="glyphicon glyphicon-ok"></span>
                                            <strong>Dropbox</strong> running
                                        </div>
                                        <div class="alert alert-warning"><span class="glyphicon glyphicon-flag"></span> <strong>Amazon
                                            S3</strong> not responding
                                        </div>
                                        <div class="alert alert-danger"><span class="glyphicon glyphicon-remove"></span>
                                            <strong>Box</strong> error
                                        </div>
                    -->
                    <div class="alert alert-danger" ng-if="errorMessage">
                        <strong>{{errorMessage[0]}}</strong>
                        <span ng-if="errorMessage.length > 1">{{errorMessage[1]}}</span>
                    </div>
                    <div class="alert alert-danger" ng-if="loading">
                         <strong>Please wait!</strong> Getting server status..
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>