<!DOCTYPE html>
<html ng-app="cloudraidApp">
    <head lang="de">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Group 4">
        <title>AIC Cloud Raid</title>

        <link rel="stylesheet" href="@routes.Assets.at("styles/bootstrap.css")"/>
        <link rel="stylesheet" href="@routes.Assets.at("styles/cloudraid.css")"/>
    </head>

    <body>
        <div class="container">
            <nav class="navbar navbar-inverse navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button class="navbar-toggle collapsed" aria-expanded="false" aria-controls="navbar" type="button"
                        data-toggle="collapse" data-target="#navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#/">
                            <img src="@routes.Assets.at("images/logo.png")" alt="Cloudraid Logo" id="brand-logo"/> AIC CloudRaid
                        </a>
                    </div>
                    <div class="navbar-collapse collapse" id="navbar">
                        <ul class="nav navbar-nav" ng-controller="RoutingCtrl">
                            <li ng-class="{'active': currentPage=='/'}"><a href="#/">Home</a></li>
                            <li ng-class="{'active': currentPage=='/files'}"><a ng-href="#/files">Files</a></li>
                            <li ng-class="{'active': currentPage=='/files/upload'}"><a ng-href="#/files/upload">Upload</a></li>
                            <li ng-class="{'active': currentPage=='/status'}"><a ng-href="#/status">Server-Status</a></li>
                        </ul>

                        <form class="navbar-form navbar-right" ng-controller="SearchCtrl" ng-submit="submitForm()">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="filterVal" placeholder="search for files ...">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default" type="button">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                    <button class="btn btn-default" type="button" ng-click="filterVal = ''">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                        </form>
                            <!-- /input-group -->
                    </div>
                        <!--/.nav-collapse -->
                </div>
            </nav>
        </div>

        <div ng-view></div>

        <script type="text/javascript" src="@routes.Assets.at("scripts/vendor/jquery/jquery-2.1.1.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("scripts/vendor/bootstrap/bootstrap.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("scripts/vendor/angularjs/angular.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("scripts/vendor/angularjs/angular-route.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("scripts/vendor/angularjs/ui-bootstrap-tpls-0.12.0.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("scripts/vendor/angularjs/angular-file-upload-all.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("scripts/app.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("scripts/controller.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("scripts/service.js")"></script>

    </body>
</html>